@import 'header';
@import 'home_nav';
body {
    font-family:  'Actor','Muli';
    color:#fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // width: 100vw;
    background-color:rgb(240, 246, 246);
}