<header>
    <div class="a">
        <img src="{{appConstant?.logoImage}}" alt="">
        <div class="header">
            <div class="filter"><i class="fa fa-search" aria-hidden="true"></i></div>
            <div class="nav-bar">
                <div>Home</div>
                <div>About</div>
                <div>Take Action</div>
                <div>Covid</div>
                <div>News</div>
                <div>Doctor</div>
                <div>Contact</div>
                <div></div>
            </div>
            <div class="filter"><i class="fa fa-user" aria-hidden="true"></i></div>
        </div>
    </div>
</header>
