<div class="bg-img">
  <div class="about">
    <div>
      <h2>ABOUT CORONA VIRUS</h2>
      <p>
        English. Many desktop publishing packages and web page editors now use
        Lorem Ipsum as their default model text, and a search for
      </p>
      <div class="btn">
        <h3>About</h3>
      </div>
    </div>
    <div class="text-img">
      <img class="small-img" src="{{ appConstant?.logoImage }}" alt="" />
    </div>
    <div class="text-img">
      <img class="big-img" src="{{ appConstant?.logoImage }}" alt="" />
    </div>
  </div>
</div>
<div class="content">
  <section class="symtoms">
    <div class="symtoms-img">
      <img src="{{./../../../../../../assets/image/corona.png" alt="" />
    </div>
    <div class="symtoms-text">
      <h2>CORONAVIRUS WHAT IT IS?</h2>
      <p>
        when looking at its layout. The point of using Lorem Ipsum is that it
        has a more-or-less normal distribution of letters, as opposed to using
      </p>
      <div class="btn">
        <h3>About</h3>
      </div>
    </div>
  </section>
  <section class="next">
    <h2>HOW TO PROTECT YOURSELF</h2>
    <p>
      when looking at its layout. The point of using Lorem Ipsum is that it has
      a more-or-less normal distribution of letters, as opposed to using
    </p>
    <div class="section">
      <div class="clip-box">
        <div class="content-section">
          <div class="">
            <img src="{{./../../../../../../assets/image/mask.png" alt="" />
            <h4>Wear Mask</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
              molestiae atque harum autem saepe dignissimos unde obcaecati sed
              laudantium molestias quam itaque accusantium neque ad quis
              nostrum, distinctio aperiam fuga.
            </p>
          </div>
        </div>
        <div class="btn"><h3>Read More</h3></div>
      </div>
      <div class="clip-box">
        <div class="content-section">
          <div class="">
            <img src="{{./../../../../../../assets/image/hand.png" alt="" />
            <h4>Wash Your Hand</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
              molestiae atque harum autem saepe dignissimos unde obcaecati sed
              laudantium molestias quam itaque accusantium neque ad quis
              nostrum, distinctio aperiam fuga.
            </p>
          </div>
        </div>
        <div class="btn"><h3>Read More</h3></div>
      </div>
      <div class="clip-box">
        <div class="content-section">
          <div class="">
            <img src="{{./../../../../../../assets/image/home.png" alt="" />
            <h4>Stay at home</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
              molestiae atque harum autem saepe dignissimos unde obcaecati sed
              laudantium molestias quam itaque accusantium neque ad quis
              nostrum, distinctio aperiam fuga.
            </p>
          </div>
        </div>
        <div class="btn"><h3>Read More</h3></div>
      </div>
    </div>
  </section>
  <section class="cases">
    <h2>CORONAVIRUS CASES</h2>
    <p>
      making this the first true generator on the Internet. It uses a dictionary
      of over 200 Latin words, combined with a handful
    </p>
    <div class="content">
      <div class="content-cases">
          <img src="{{./../../../../../../assets/image/face-mask.png" alt="" />
          <button type="button" class="btn-mask btn btn-primary">
            Read More
          </button>

          <h2>Cases 01</h2>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look
          </p>
          <div class="clip-img">
            <img src="{{./../../../../../../assets/image/covid.png" alt="" />
          </div>
      </div>
      <div class="content-cases">
          <img src="{{./../../../../../../assets/image/virus-mask.png" alt="" />
          <button type="button" class="btn-mask btn btn-primary">
            Read More
          </button>

          <h2>Cases 02</h2>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look
          </p>
          <div class="clip-img">
            <img src="{{./../../../../../../assets/image/covid.png" alt="" />
          </div>
      </div>
      <div class="content-cases">
          <img src="{{./../../../../../../assets/image/doc-mask.png" alt="" />
          <button type="button" class="btn-mask btn btn-primary">
            Read More
          </button>

          <h2>Cases 03</h2>
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look
          </p>
          <div class="clip-img">
            <img src="{{./../../../../../../assets/image/covid.png" alt="" />
          </div>
      </div>
    </div>
  </section>
  <section class="dr-says">
    <h2>WHAT DOCTORS SAY..</h2>
  <div class="text-content">
    <div class="content">
      <div class="content-img">
        <img src="{{./../../../.././../../assets/image/dr1.jpg" alt="">
      </div>
      <div class="contnets-text">
       <h4>DR.GOLAP DEN</h4>
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it
        look
      </p>
      <h1>"</h1>
    </div>
    </div>
    <div class="content">
      <div class="content-img">
        <img src="{{./../../../.././../../assets/image/dr2.jpg" alt="">
      </div>
     <div class="contnets-text">
      <h4>DR.GOLAP DEN</h4>
      <p>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it
        look
      </p>
      <h1>"</h1>
     </div>
    </div>
  </div>
</section>
<section class="update">
  <h2>GET EVERY UPDATE....</h2>
    <div class="bg-color">
      <div class="content">
        <input type="text" name="" id="" placeholder="Your Email">
        <button type="button"> Subscribe Now</button>
      </div>
    </div>
</section>
</div>
